extends layout

block content
	h2 #{title}
	a.btn.btn-info.pull-right(href='/classes/edit', role='button') Edit Class
	p Teacher: &nbsp;
		a(href='/teachers/' + clas.teacher._id) #{clas.teacher.name}
	p language: #{clas.language}
	p level: #{clas.level}
	p type: #{clas.type}
	p Students: &nbsp;
		each student in clas.students
			a(href='/students/' + student._id) #{student.name}
			|, &nbsp;
	p Notes: #{clas.notes}

	h3 Planed lessons
	if clas.collaborations.planned.length
		.row
			.col-xs-12
				.table-responsive
					table.table.table-bordered.table-striped.table-hover(summary="This table shows how to create responsive tables using Bootstrap's default functionality")
						caption.text-center List of usersyou can edit everyone of them
						thead
							tr
								th #
								th presents
								th since
								th until
								th status
								th room
								th Class
						tbody
						each collaboration, i in clas.collaborations.planned
							tr.clickable-row(data-href=`${clas._id}/lessons/${collaboration._id}`)
								td #{i+1}
								td #{clas.students.map(el => ` ${el.name}`)}
								td #{collaboration.since}
								td #{collaboration.until}
								td #{collaboration.status}
								td #{collaboration.room}
								td #{collaboration.class}
	else
		p There are no planned lessons for this class yet
		a.btn.btn-info.pull-left(href=`${clas._id}/lessons/add`, role='button') Create first lessons

	if clas.collaborations.review.length
		h3 Unresolved lessons
		.row
				.col-xs-12
					.table-responsive
						table.table.table-bordered.table-striped.table-hover(summary="This table shows how to create responsive tables using Bootstrap's default functionality")
							caption.text-center List of usersyou can edit everyone of them
							thead
								tr
									th #
									th presents
									th since
									th until
									th status
									th room
									th Class
							tbody
							each collaboration, i in clas.collaborations.review
								tr.clickable-row(data-href=`${clas._id}/lessons/${collaboration._id}`)
									td #{i+1}
									td #{clas.students.map(el => ` ${el.name}`)}
									td #{collaboration.since}
									td #{collaboration.until}
									td #{collaboration.status}
									td #{collaboration.room}
									td #{collaboration.class}

	if clas.collaborations.finished.length
		h3 Completed lessons
		.row
			.col-xs-12
				.table-responsive
					table.table.table-bordered.table-striped(	summary="This table shows how to create responsive tables using Bootstrap's default functionality")
						caption.text-center List of completed lessons
						thead
							//- tr
							//- 	th
							//- 	each collaboration, i in clas.collaborations.finished
							//- 		th #{collaboration.room}
							tr
								th
								each collaboration, i in clas.collaborations.finished
									th #{collaboration.since.getDate()+'/'+collaboration.since.getMonth()+'/'+collaboration.since.getFullYear()}
							tbody
							each student, i in clas.students
								tr
									td #{student.name}
									each collaboration, i in clas.collaborations.finished
										td
											if collaboration.students.map(el => el.toString()).includes(student._id.toString())
												span.glyphicon.glyphicon-ok.text-success
											else
												span.glyphicon.glyphicon-remove.text-danger