extends layout

block content
  .col-xs-12
    .card
      .card-header
        h1.card-title #{title}

      if user.role === 'admin'
        .card-controls
          a.btn.btn-info.btn-sm(href='/classes/add', role='button') Create Class
      
      .card-body
        .table-responsive
          table.table.table-bordered.table-striped.table-hover(summary="ap's default functionality")
            thead
              tr
                th Teacher
                th Students
                th Language
                th Level
                th Type
                if user.role === 'admin'
                  th Coefficient
                th Notes
            tbody
            each clas, i in classes
              tr.clickable-row(data-href='classes/' + clas._id)
                td #{clas.teacher.name}
                td #{clas.students.length ? clas.students.map(el => el.name).join(',') : 'no students'}
                td #{clas.language}
                td #{clas.level}
                td #{clas.type}
                if user.role === 'admin'
                  td #{clas.coefficient}
                td
                  div.notes #{clas.notes}
