extends layout

block content
  .col-xs-12
    .card
      .card-header
        h1.card-title #{title}
      
      .card-controls
        a.btn.btn-info.btn-sm.icon-left-big.mr-3(href='/classes/' + collaboration.class._id)
        a.btn.btn-info.btn-sm.mr-3(href=`/classes/${collaboration.class._id}/lessons/${collaboration._id}/edit`, role='button') Edit
        input.btn.btn-danger.btn-sm#remove(type='button', data-info=`collaborations/${collaboration._id}`, value='Delete')

      .card-body
        p
          b Day:
          br
          | #{moment(collaboration.since).format("MMM D, YYYY, (dddd)")}
        p
          b Timeframe:
          br
          | #{moment(collaboration.since).format("HH:mm")} - #{moment(collaboration.until).format("HH:mm")}
        p
         b Room:
         br
         | #{collaboration.room}
        p
          b Status:
          br
          | #{collaboration.status}
        if collaboration.status == 'planned' && collaboration.until <= new Date()
          .table-responsive
            table.table.table-bordered.table-striped.table-hover(summary="ap's default functionality")
              thead
                tr
                  th Students
                  th Pressent
              tbody
              each student, i in collaboration.class.students
                tr
                  td
                    a(href='/students/' + student._id) #{student.name}
                  td
                    input.present(type='checkbox', data-student=student._id, checked=student.present)
            input.btn.btn-info#save(name='submit', type='submit', value='Save changes')
        else
          p Students:
            br
            each student in collaboration.class.students
              a(href='/students/' + student._id) #{student.name}
              |, &nbsp;
