extends layout

block content
  .col-xs-12
    .card
      .card-header
        .row.align-items-center
          .col-6.text-left
            .d-flex.align-items-center
              a.btn.btn-icon.icon-left-big(href=`/students`)
              h1.card-title
                | #{title}
          .col-6.text-right
            .btn-group
              .btn.btn-outline-secondary.print-page.icon-print
              a.btn.btn-primary(href=`/students/${student._id}/edit`, role='button')
                i.icon-edit
                | Edit Student
      .card-body
        .row.mb-3
          .col-md-3
            //- .student-fake-image
            img.img-thumbnail(src="https://i.pinimg.com/736x/42/34/dc/4234dcaa1dc42bc1a0b9d81618aec288--johnny-depp-cry-baby-young-johnny-depp.jpg", alt="")
          .col-md-9
            div
              h4.account
                | Account: #{student.account}грн. 
                button.btn.btn-secondary.btn-sm(type='button', data-toggle='modal', data-target='#myModal')
                  i.icon-credit-card
                  | put coin
            p
              b Email:
              br
              | #{student.email}
            p
              b Phone:
              br
              | #{student.phone}
            p
              b Language:
              br
              | #{student.language}
            p 
              b Level:
              br
              | #{student.level}
            p
              b Day of birth:
              br
              | #{moment(student.dayOfBirth).format("DD/MM/YYYY")}
            p
              b Created at:
              br
              | #{moment(student.createAt).format("DD/MM/YYYY")}
        .row
          .col-12
            h3 #{title}'s payment history
            table.table.table-bordered.table-striped.table-hover(summary="This table shows how to create responsive tables using Bootstrap's default functionality")
              thead
                tr
                  th Value
                  th Type
                  th Date
              tbody
              each paid, i in paids
                tr
                  td #{paid.value}
                  td #{paid.type}
                  td #{moment(paid.date).format("DD MMMM YYYY, HH:mm")}

  //- @TODO fix modal
  #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title #{student.name} accounts | #{student.account}грн
        .modal-body
          .row
            .col-offset-lg-4.col-offset-md-5.col-offset-sm-6.col-lg-8.col-md-7.col-sm-6.pull-right
              .input-group
                .input-group-addon ₴
                input#account.form-control(type='number', name='account', student=student._id placeholder='Amount')
                .input-group-addon .00
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary.add-accounts(type='button') Add