extends layout

block content
  .col-xs-12
    .card
      .card-header
        h1.card-title Edit #{student.name}'s profile
      
      .card-controls
        a.btn.btn-info.btn-sm.icon-left-big.mr-3(href='/students/' + student._id)
      
      .card-body
        .errors.notification-wrapper
          if errors
            each error, i in errors
              .alert.alert-danger.alert-dismissible.fade.show(role='alert')
                button.close(type='button', data-dismiss='alert', aria-label='Close')
                  span(aria-hidden='true') &times;
                span #{error.msg}
        .row
          .col-xs-12.col-md-6.offset-md-3
            form(method='post', action=`/students/${student._id}`, enctype='application/json')
              .form-group
                label Name
                input.form-control(type='text', name='name', placeholder='Enter Student Name', value=`${student.name}`)
              .form-group
                label Email
                input.form-control(type='email', name='email', placeholder='Enter contact Email', value=`${student.email}`)
              .form-group
                label Phone
                input.form-control(type='text', name='phone', placeholder='Enter contact phone', value=`${student.phone}`)
              .form-group
                label Language
                br
                select.selectpicker(name='language')
                  option(selected= student.language ==='English') English
                  option(selected= student.language ==='German') German
                  option(selected= student.language ==='Polish') Polish
                  option(selected= student.language ==='Japanese') Japanese
                  option(selected= student.language ==='Chinese') Chinese
                  option(selected= student.language ==='Spanish') Spanish
                  option(selected= student.language ==='Italian') Italian
                  option(selected= student.language ==='Turkish') Turkish
                  option(selected= student.language ==='Chezh') Chezh
                  option(selected= student.language ==='Arabian') Arabian
              .form-group
                label Language level
                br
                select.selectpicker(name='level')
                  option(selected= student.level ==='Beginner') Beginner
                  option(selected= student.level ==='Elementary') Elementary
                  option(selected= student.level ==='Pre-intermediate') Pre-intermediate
                  option(selected= student.level ==='Intermediate') Intermediate
                  option(selected= student.level ==='Upper-intermediate') Upper-intermediate
                  option(selected= student.level ==='Advanced') Advanced
              .form-group
                label Day of birth
                input.form-control(type='date', name='dayOfBirth', value=`${student.dayOfBirth && student.dayOfBirth.toISOString().split('T')[0]}`)
              .form-group
                label Account (in UAH)
                .input-group
                  .input-group-prepend
                    span.input-group-text ₴
                  input#account.form-control(type='number', name='account', placeholder='Amount', value=`${student.account}`)
                  .input-group-append
                    span.input-group-text .00
              .form-group
                label(for='exampleFormControlTextarea1') Short Notes
                textarea#exampleFormControlTextarea1.form-control(rows='4', name='notes') #{student.notes}
              input.btn.btn-primary(name='submit', type='submit', value='Save')
              a.btn.btn-default(href='/students', role='button') Cancel