extends layout

block content
	h2 #{title}
	a.btn.btn-info.pull-right(href='/student', role='button') Add Student
	.container
		.row
			.col-xs-12
				.table-responsive
					table.table.table-bordered.table-striped.table-hover(summary="This table shows how to create responsive tables using Bootstrap's default functionality")
						caption.text-center List of usersyou can edit everyone of them
						thead
							tr
								th #
								th Name
								th E-mail
								th Phome
								th Language
								th Notes
								th Actions
						tbody
						each student, i in students
							tr
								td #{i+1}
								td #{student.name}
								td #{student.email}
								td #{student.phone}
								td #{student.language}
								td 
									div.notes #{student.notes}
								td
									button.btn.btn-primary(type='button', data-id="#{student._id}") 
										span.glyphicon.glyphicon-pencil
									| &nbsp;
									button.btn.btn-danger(type='button', data-id="#{student._id}")
										span.glyphicon.glyphicon-remove