extends layout

block content
  .col-xs-12
    .card
      .card-header
        .row.align-items-center
          .col-6.text-left
            .d-flex.align-items-center
              a.btn.btn-outline-secondary.btn-sm.icon-left-big.mr-3(href=`/students`)
              h1.card-title
                | #{title}
          .col-6.text-right
            .d-none.d-lg-block
              .btn-group
                .btn.btn-outline-secondary.print-page.icon-print
                a.btn.btn-primary(href=`/students/${student._id}/edit`, role='button')
                  | Edit Student
            .d-block.d-lg-none
              a.btn.btn-primary(href=`/students/${student._id}/edit`, role='button')
                i.icon-cog
      .card-body
        .row
          .col-xs-12.col-lg-4
            .student-info
              h4.account
                | Account: 
                if student.account >= 0
                  span.text-success
                    = student.account
                    | грн. 
                else
                  span.text-danger
                    = student.account
                    | грн. 
                
                button.student-account-button.btn.btn-primary.btn-sm(type='button', data-toggle='modal', data-target='#myModal')
                  i.icon-credit-card.mr-1
              - var studentData = {'Email': student.email, 'Phone': student.phone, 'Language': student.language, 'Level': student.level, 'Day of birth': moment(student.dayOfBirth).format("DD/MM/YYYY"), 'Created at': moment(student.createAt).format("DD/MM/YYYY")}
              ul.student-info__list
                each key, value in studentData
                  li
                    b
                      = value
                    = ': ' + key
          .col-xs-12.col-lg-8
            h4 Payment history
            table.table.table-bordered.table-striped.table-hover(summary="This table shows how to create responsive tables using Bootstrap's default functionality")
              thead
                tr
                  th Value
                  th Type
                  th Date
              tbody
              each paid, i in paids
                tr
                  td #{paid.value}
                  td #{paid.type}
                  td #{moment(paid.date).format("DD MMMM YYYY, HH:mm")}

  //- @TODO fix modal
  #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title #{student.name} accounts | #{student.account}грн
        .modal-body
          .row
            .col-offset-lg-4.col-offset-md-5.col-offset-sm-6.col-lg-8.col-md-7.col-sm-6.pull-right
              .input-group
                .input-group-addon ₴
                input#account.form-control(type='number', name='account', student=student._id placeholder='Amount')
                .input-group-addon .00
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary.add-accounts(type='button') Add