extends layout

block content
  .col-xs-12
    .card
      .card-header
        h1.card-title #{title}

      .card-controls
        a.btn.btn-info.btn-sm(href='/students/add', role='button') Add Student
       
      .card-body
        .table-responsive
          table.table.table-bordered.table-striped.table-hover(summary="This table shows how to create responsive tables using Bootstrap's default functionality")
            thead
              tr
                th Name
                th E-mail
                th Phone
                th Language
                th Notes
                th Account
            tbody
            each student, i in students
              tr.clickable-row(data-href='/students/' + student._id)
                td #{student.name}
                td #{student.email}
                td #{student.phone}
                td #{student.language}
                td
                  div.notes #{student.notes}
                td.text-right #{student.account}₴