extends layout

block content
  .col-xs-12
    .card
      .card-header
        h1.card-title #{title}

      .card-controls
        a.btn.btn-info.btn-sm.icon-left-big.mr-3(href=`/students`)
        a.btn.btn-info.btn-sm.mr-3(href=`/students/${student._id}/edit`, role='button')
          | Edit Student
        .btn.btn-danger.btn-sm.mr-3#remove(role='button', data-type='student', data-link=`students/${student._id}`)
          | Delete

      .card-body
        .row
          .col-xs-12.col-lg-4
            .student-info
              h4.account
                | Account: 
                if student.account >= 0
                  span.text-success
                    = student.account
                    | грн.
                else
                  span.text-danger
                    = student.account
                    | грн.
                button.ml-2.student-account-button.btn.btn-info.btn-sm(type='button', data-toggle='modal', data-target='#myModal')
                  i.icon-credit-card.mr-1
              - var studentData = {'Email': student.email, 'Phone': student.phone, 'Language': student.language, 'Level': student.level, 'Day of birth': moment(student.dayOfBirth).format("DD/MM/YYYY"), 'Created at': moment(student.createAt).format("DD/MM/YYYY")}
              each key, value in studentData
                p
                  b
                    = value
                  = ': ' + key
          .col-xs-12.col-lg-8
            h4 Payment history
            table.table.table-bordered.table-striped.table-hover
              thead
                tr
                  th Value in ₴
                  th Type
                  th Date
              tbody
              each paid, i in paids
                tr
                  td #{paid.value}
                  td #{paid.type}
                  td #{moment(paid.date).format("DD MMMM YYYY, HH:mm")}

  #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h4#myModalLabel.modal-title #{student.name} accounts | #{student.account}грн
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          .input-group
            .input-group-prepend
              span.input-group-text ₴
            input#account.form-control(type='number', name='account', student=student._id placeholder='Amount')
            .input-group-append
              span.input-group-text .00
        .modal-footer
          button.btn.btn-primary.add-accounts(type='button') Add
          button.btn.btn-default(type='button', data-dismiss='modal') Close