extends layout

block content
	h2 #{title}
	p Email: #{student.email}
	p Phone: #{student.phone}
	p language: #{student.language}
	p level: #{student.level}
	p Day of birth.: #{student.dayOfBirth}
	p Created at.: #{student.createAt}
	br
	h4.account Account: #{student.account}грн.
		| &nbsp;
		button.btn.btn-primary.btn-sm(type='button', data-toggle='modal', data-target='#myModal')
			i.glyphicon.glyphicon-plus-sign#add-accounts
	a.btn.btn-primary(role='button', data-toggle='collapse', href='#collapsePayments', aria-expanded='false', aria-controls='collapsePayments')
		| Show payments history
	div.collapse#collapsePayments
		br
		table.table.table-bordered.table-striped.table-hover(summary="This table shows how to create responsive tables using Bootstrap's default functionality")
			thead
				tr
					th #
					th Value
					th Type
					th date
			tbody
			each paid, i in paids
				tr
					td #{i+1}
					td #{paid.value}
					td #{paid.type}
					td #{paid.date}
	#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
					h4#myModalLabel.modal-title #{student.name} accounts | #{student.account}грн
				.modal-body
					.row
						.col-offset-lg-4.col-offset-md-5.col-offset-sm-6.col-lg-8.col-md-7.col-sm-6.pull-right
							.input-group
								.input-group-addon ₴
								input#account.form-control(type='number', name='account', student=student._id placeholder='Amount')
								.input-group-addon .00
				.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Close
					button.btn.btn-primary.add-accounts(type='button') Add