extends layout

block content
	h2 #{title}
	a.btn.btn-info.pull-right(href='/teachers/add', role='button') Add Teacher
	.container
		.row
			.col-xs-12
				.table-responsive
					table.table.table-bordered.table-striped.table-hover(summary="This table shows how to create responsive tables using Bootstrap's default functionality")
						caption.text-center List of usersyou can edit everyone of them
						thead
							tr
								th #
								th Name
								th E-mail
								th Phone
								th Coeficient
						tbody
						each teacher, i in teachers
							tr.clickable-row(data-href='/teachers/' + teacher._id)
								td #{i+1}
								td #{teacher.name}
								td #{teacher.email}
								td #{teacher.phone}
								td #{teacher.coeficient}
