extends layout

block content
  .col-xs-12
    .card
      .card-header
        h1.card-title #{title}

      .card-controls
        a.btn.btn-info.btn-sm(href='/teachers/add', role='button') Add Teacher

      .card-body
        .table-responsive
          table.table.table-bordered.table-striped.table-hover(summary="This table shows how to create responsive tables using Bootstrap's default functionality")
            //- caption List of #{title}, you can edit everyone of them
            thead
              tr
                th Name
                th E-mail
                th Phone
                th Coeficient
            tbody
            each teacher, i in teachers
              tr.clickable-row(data-href='/teachers/' + teacher._id)
                td #{teacher.name}
                td #{teacher.email}
                td #{teacher.phone}
                td #{teacher.coeficient}
